<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
      
    window.brentURL = "<%= image_url('homepage_movie.png') %>";
  </script>
<% end %>

<main id="root"></main>