  /* -------------------- HOME CONTENT -------------------- */
 div.home-content {
   display: flex;
   justify-content: center;
   width: 100%;
 }​

 .home-image-container {
   width: 1024px;
   height: 486px;
 }

 img.home-img {
   width: 1400px;
 }