  /* -------------------- HOME CONTENT -------------------- */

 .home-image-container-slider {
   display: flex;
   justify-content: center;
   overflow-x: auto;
   overflow-y: hidden;
   flex-shrink: 0;
   width: 1400px;
 }

 .home-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 img.home-img {
   width: 92vw;
 }

 @keyframes scroller {
   66% { transform: translateX(-700px*2); }
 }