.login-form-container {
  display: flex;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.modal-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0;
}

.login-input {
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80vw;
}

::-webkit-input-placeholder {
  font-size: 1.2vw;
  color: rgb(39, 37, 37);
  margin-left: 50%;
  opacity: 1;
  text-indent: 47%;
}

label {
  display: flex;
  flex-direction: row;
}

.modal-title {
  display: flex;
  justify-content: center;
  color: #0099CC;
  font-size: 10vh;
}

.login-demo-message {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.wrapper-line {
  max-width: 240px;
  font-weight: bold;
  border: none;
  border-top: 3px solid gray;
  border-bottom: 1px solid transparent;
}

fieldset {
  margin-top: 25px;
}

.wrapper-line legend {
  padding: 0 15px;
  margin: auto;
  color: white;
}

.login-form-box {
  box-shadow: 0 0 10rem 0 black;
  transition: .4;
}

li {
  list-style: none;
  color: white;
  font-weight: bold;
  justify-items: center;
}

.errors ul li {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  color: #ff4444;
  font-size: 3vw;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 1vw;
}

.signin-btn, .demo-btn {
  margin-top: 1vh;
  font-size: 2vw;
  width: 60vw;
}

.signin-btn {
  margin-right: 1vw;
}

.signin-btn:focus {
  background: #00C851;
}

.demo-btn:focus {
  background: #00C851;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40vw;
  top: 15px;
  right: 35px;
  }
}