.movie-container {
  margin-left: 2.1vw;
  margin-right: 2.1vw;
}

.movie-list, .movie-list-error {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4vh;
}

.movie-list-error {
  font-size: 4vw;
  color: #0099CC;
}

.movie-img-container {
  display: flex;
  flex-direction: column;
  transition: transform .2s;
}

.movie-img-container:hover {
  transform: scale(1.2);
  
  .movie-title {
    color: rgb(55, 144, 179);
    cursor: pointer;
  }
}

.movie-img {
  // width: 21vw;
  max-width: 300px;
  // min-width: 10px;
  margin-right: 1.5vw;
}

.movie-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 2vw;
  color: white;
}