.movie-show-img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 11px; 
  margin-left: 40px;
}

.movie-show-img {
  height: 100%;
  width: 70%;
  image-rendering: pixelated;
}

.movie-show-content {
  margin-left: 20px;
  color: rgb(163, 162, 162);
}

.movie-show-title {
  font-size: 4vw;
}

.movie-show-rating {
  font-size: 1vw;
  margin-top: 20px;
}

.movie-show-description {
  font-size: 2vw;
  margin-top: 40px;
  margin-bottom: 5vh;
}

.movie-show-release-date {
  color: rgb(163, 162, 162);
  font-size: 12px;
  margin-top: 40px;
}

// button {
//   color: #0099CC;
//   font-family: 'Squada One', cursive;
//   font-weight: bold;
//   padding: 1vw 2vw;
//   border: 1px solid #0099CC;
//   background-image: linear-gradient(bottom, #0099CC 0%, #0099CC 100%);
//   background-image: -o-linear-gradient(bottom, #0099CC 0%, #0099CC 100%);
//   background-image: -moz-linear-gradient(bottom, #0099CC 0%, #0099CC 100%);
//   background-image: -webkit-linear-gradient(bottom, #0099CC 0%, #0099CC 100%);
//   background-image: -ms-linear-gradient(bottom, #0099CC 0%, #0099CC 100%);

//   background-image: -webkit-gradient(
//     linear,
//     left bottom,
//     left top,
//     color-stop(0, rgb(73,132,180)),
//     color-stop(1, rgb(97,155,203))
//   );

//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   border-radius: 5px;
//   text-shadow: 0px -1px 0px rgba(0,0,0,.5);
//   -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
//   -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
//   box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
// }

button {
  position: relative;
  background-color: #0099CC;
  border: none;
  border-radius: 1vw;
  font-family: 'Squada One', cursive;
  font-size: 2vw;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  background: white;
  margin: 0;
  opacity: 1;
  transition: 0s
}

button:focus {
  background: #00C851;
}

@media screen and (max-width: 600px) {
  .movie-show-img-container {
    flex-direction: column;
  }
}