.movie-container {
  width: 100%;
  margin-top: 20px;
}

.movie-list {
  margin: 0;
  margin-left: 100px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.movie-img {
  max-width: 374px;
  max-height: 210px;
}

.movie-img-container {
  transition: transform .2s; /* Animation */
}

.movie-img-container:hover {
  transform: scale(1.2);
}

.movie-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}