.movie-img-container {
  display: flex;
  flex-direction: column;
}

.movie-list {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  margin-left: 3vw;
  flex-wrap: wrap;
}

.movie-img-container {
  transition: transform .2s; /* Animation */
}

.movie-img-container:hover {
  transform: scale(1.2);
}

.movie-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
}