/* -------------------- NAVBAR -------------------- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0F0F0F;
  padding: 0.7rem 2rem;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  opacity: 0.6;
}

.left, .middle, .right {
  flex: 0.15;
}

.middle {
  text-align: center;
  font-size: 2.9vw;
}

.nav-title {
  color: white;
}

.nav-item {
  color: #C8C8C8;
  font-size: 1.8vw;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.nav-signin {
  float: left;
}

.nav-signup {
  float: right;
}

.nav:hover {
  background-color: black;
  opacity: 100;
}

.nav-divider {
  padding: 40px;
}