/* -------------------- NAVBAR -------------------- */

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: #0F0F0F;
}

.left, .middle, .right {
  flex: 1;
}

.left, .right {
  margin: auto;
  text-align: center;
  max-width: 218px;
}

.left {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  text-align: left;
}

.right {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-right: 50px;
}

.middle {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: 200px;
  margin-left: 330px;
  margin-top: 1%;
  font-size: 40px;
}

.nav-title {
  color: white;
  font-family: 'Patua One', cursive;
}

.nav-item {
  color: #C8C8C8;
  font-weight: bold;
  text-decoration: none;
}

.nav-search {
  font-size: 18px;
}

.search-input-nav {
  outline: 0;
  border-width: thin;
  background: black;
  color: white;
  width: 80%;
  height: 25px;
  border-radius: 10px;
  opacity: .6;
}

.nav-signin {
  font-size: 18px;
  float: left;
  cursor: pointer;
}

.nav-signup {
  font-size: 18px;
  float: right;
  cursor: pointer;
}

.nav-icon {
  font-weight: bold;
  margin-right: 4px;
  vertical-align: bottom;
  font-size: 20px;
}

.nav-icon-browse {
  font-size: 23px;
}

.login-form-container {
  display: flex;
  height: 400px;
  width: 300px;
  border: solid none;
  border-radius: 20px;
}

.modal-input {
  display: flex;
  flex-direction: column;
  width: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0;
}

.login-input {
  outline: 0;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  opacity: .6;
}

::-webkit-input-placeholder {
  font-size: 16px;
  color: rgb(39, 37, 37);
  margin-left: 50%;
  opacity: 1;
  text-indent: 35%;
}

label {
  display: flex;
  flex-direction: row;
}

.session-submit {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.demo-submit {
  display: flex;
  justify-content: center;
  background-color: white;
  align-content: center;
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 240px;
}

.modal-title {
  display: flex;
  justify-content: center;
  color: white;
}

.login-demo-message {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.home-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper-line {
  max-width: 240px;
  font-weight: bold;
  border: none;
  border-top: 3px solid gray;
  border-bottom: 1px solid transparent;
}

fieldset {
  margin-top: 25px;
}

.wrapper-line legend {
  padding: 0 15px;
  margin: auto;
  color: white;
}

.nav {
  position: fixed;
  background: #0F0F0F;
  top: 0;
  // opacity: 0.6;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(27, 27, 27, 0.5);
}

.nav:hover {
  background-color: black;
  opacity: 100;
}

.nav-divider {
  padding: 40px;
}

.login-form-box {
  box-shadow: 0 0 10rem 0 black;	
  background: #0F0F0F;
  backdrop-filter: blur(20px);
  height: 100%;
  width: 100%;
  border: solid none;
  border-radius: 20px;
  opacity: .8;
  animation: 0.7s;
  transition: .4;
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  list-style: none;
  color: white;
  font-weight: bold;
  justify-items: center;
}

.errors ul li {
  color: #ff4444;
}

/* akldjflksjaf;klj */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}