#mySidenav a {
  position: fixed;
  margin-top: 70px;
  left: -105px;
  transition: 0.3s;
  padding: 26px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  color: white;
}

#mySidenav a:hover {
  left: 0;
  background: black;
  color: rgb(55, 144, 179);
  opacity: 2;
}

#mySidenav a:focus {
  outline: none;
}

#home {
  display: flex;
  top: 20px;
}

.home-text {
  margin-left: 80%;
  transform: rotate(-90deg);
}

#mySidenav a:hover > div {
  margin-left: 20%;
  transform: rotate(0deg);
}

#movies-tab {
  display: flex;
  top: 80px;
}

.movie-text {
  margin-left: 75%;
  transform: rotate(-90deg);
}

#collections {
  display: flex;
  top: 140px;
}

.collections-text {
  margin-left: 85%;
  transform: rotate(-90deg);
}

#profile {
  display: flex;
  top: 200px;
}

.profile-text {
  margin-left: 75%;
  transform: rotate(-90deg);
}